@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}



/* Header */


.navbar {
background-color: #edede6 !important; 
position: fixed;  
width: 100vw; 
z-index: 1;
}



.logo {
    width: 55px;
}


/* Inicio Main Index */

main {
    background-image: url(../img/fondoindex.jpg);
    background-size: cover;
    background-attachment: fixed;
}


.foto_portada {
    width: 15rem;
    padding-top: 6rem;

}

@media (min-width: 1000px) {
    .foto_portada {
        width: 20rem;
        padding-top: 10rem;
        margin-right: 3rem;
    }
    .portada_texto {
        padding-left: 65px;
    }
}

@media (max-width: 349px) {
        .portada_titulo {
            font-size: 29px;
    }
}


.btn-primary {
    background-color: #286378;
    border-radius: 10px;
    border-style: none;
    font-size: 25px;

}



.float_ul {
    background-color: #77acc0;
    width: 80vw;
    height: 70px;
    border-radius: 30px;
    color: #FFFFFF;
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    list-style: none;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    margin-top: 4rem;
}


.float .separador {
    font-weight: 100;
    font-size: 35px;
}

@media (max-width: 1500px) {
    .float_ul {
        display: none;
    }
}

/* Pagina 2 Index */


.time_icon {
    width: 10rem;
}

.warranty_icon {
    width: 10rem;
}

.lab_icon {
    width: 10rem;
}

.chat_icon {
    width: 10rem;
}

@media (max-width: 1000px) {
    .time {
        text-align: center;
    }

    .warranty {
        text-align: center;
    }

    .lab {
        text-align: center;
    }
    .chat {
        text-align: center;
    }

}


/* Fin Main Index */

/* Inicio Main Reparar */

.pag2_reparar {
    padding-top: 6rem;
}


.div1_reparar {
    width: 600px;
}

.foto_portada_reparar {

padding-bottom: 2rem;
}

.tarjetas_reparar {
    padding-bottom: 2rem;
}


.repdestacadas_title {
    background-color: #286378;
    color: white;
    height: 4rem;
    width: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.btn-info {
    background-color: #286378;
    border-color: #286378;
    color: #FFFFFF;
}

.trabajos_slide {
    background-color: #286378;
    color: white;
    width: 70rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
}

.carrousel1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;

}

/* Inicio Main Contacto */

.portada_contacto {
    padding-top: 6rem;

}

.texto_contacto {
    margin: 0px;
}

















/* Footer */

footer {
    display: flex;
    background: #000000e6;
    height: 156px;
    justify-content: space-between;
    align-items: center;
}

.logotipo_footer {
    display: flex;
    margin-left: 10px;
}

.logo_footer {
    width: 110px;
    cursor: pointer;
}

.nombre_logo_footer {
    margin-top: 15px;
    margin-left: 5px;
}

.nombre_logo_footer h2 {
    color: #FFFFFF;
    font-size: 35px;
}

.nombre_logo_footer h3 {
    color: #FFFFFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.texto_footer {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}

.redes_footer {
    display: flex;
    margin-right: 50px;
    gap: 15px;
}

.fb_logo {
    width: 53px;
}

.ig_logo {
    width: 53px;
}

.tik_logo {
    width: 53px;
}

.tw_logo {
    width: 53px;
}

@media (max-width: 1100px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: #000000e6;
        height: 400px;
        width: 100vw;
    }

    .logotipo_footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;

    }

    .nombre_logo_footer {
        margin-top: 0px;
    }
    .nombre_logo_footer h2 {
        margin-bottom: 0px;
    }
    .nombre_logo_footer h3 {
        display: none;
    }

    .redes_footer {
        padding-bottom: 20px;
        margin-right: 0px;

    }

    .texto_footer {
        color: #FFFFFF;
        font-weight: 400;
        font-size: 12px;
        line-height: 23px;
        text-align: center;
    }

}

/* Fin Footer */











/* Header 

header {
    width: 100%;
    display: flex;
    background-color: #123846;
    height: 95px;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
}

.logotipo {
    display: flex;
    margin-left: 10px;
}

.logo {
    width: 85px;
    cursor: pointer;
}

.nombre_logo {
    margin-top: 5px;
    margin-left: 5px;
}

.nombre_logo h1 {
    color: #FFFFFF;
    font-size: 35px;
    font-weight: 600;
}

.nombre_logo h2 {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 200;
    inline-size: -1px;

}

.menu {
    display: flex;
    list-style-type: none;
    gap: 20px;
    height: 100%;
    width: max-content;
    align-items: center;
    justify-content: center;
}

.menu_item a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 600
}

.llamanos {
    width: 172px;
    height: 62px;
    background: #121F33;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    color: #FFFFFF;
    font-size: 28px;
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
}
*/


/* Fin header */

/* Index - Portada */
/*
.portada {
    height: 90vh;
    background-image: url(../img/fondoindex.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.contenedor_portada1 {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caja_1 {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
}

.caja_1 h2 {
    font-size: 60px;
}

.caja_1 p {
    font-size: 35px;
    margin-top: 35px;
    margin-bottom: 55px;
    letter-spacing: -1px;
}

.caja_1 .presupuestar {
    width: 286px;
    height: 94px;
    left: 156px;
    top: 556px;
    color: #FFFFFF;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    background: #121F33;
    border-radius: 77px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caja_2 {
    width: 700px;
    height: 500px;
    padding-top: 20px;
    padding-left: 60px;
}

.float {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.float_ul {
    background-color: #123846E5;
    width: 1200px;
    height: 80px;
    border-radius: 30px;
    color: #FFFFFF;
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.float .separador {
    font-weight: 100;
    font-size: 35px;
}

/* Index - Pag 2 */
/*
.pag2 {
    background-image: url(../img/fondoindex.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.title_pag2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
    padding-top: 30px;
}

.title_pag2 h2 {
    font-size: 40px;
}

.title_pag2 h3 {
    font-size: 30px;
}


/* ---Grilla--- */
/*

.row1 {
    display: flex;
    padding-bottom: 70px;
    justify-content: space-evenly
}

.row1 .art1 {
    display: flex;
    width: 620px;
}

.row1 .art1 .time {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

}

.row1 .art1 .time h2 {
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.row1 .art1 .time p {
    font-size: 25px;
}

.row1 .art2 {
    display: flex;
    width: 620px;


}

.row1 .art2 .warranty {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.row1 .art2 .warranty h2 {
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.row1 .art2 .warranty p {
    font-size: 25px;
}


.row2 {
    display: flex;
    justify-content: space-evenly
}

.row2 .art3 {
    display: flex;
    width: 620px;
}

.row2 .art3 .lab {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.row2 .art3 .lab h2 {
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.row2 .art3 .lab p {
    font-size: 25px;
}

.row2 .art4 {
    display: flex;
    width: 620px;

}

.row2 .art4 .chat {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.chat_img {
    width: 191px;
}

.row2 .art4 .chat h2 {
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.row2 .art4 .chat p {
    font-size: 25px;
}



/* ----Fin grilla ---- */


/* Index - pag3 */

/*

.title_pag3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
}

.title_pag3 h2 {
    font-size: 40px;
}

.title_pag3 p {
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    padding-bottom: 73px;
}

.opinion {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    color: #FFFFFF;
    font-size: 22px;
    text-align: center;
    padding-bottom: 73px;
}

.op1 {
    background-color: #123846db;
    border-radius: 85px;
    width: 380px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.op2 {
    background-color: #123846db;
    border-radius: 85px;
    width: 380px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.op3 {
    background-color: #123846db;
    border-radius: 85px;
    width: 380px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Fin pag3 */

/* Inicio reparar.html pag1 */
/*
.portada_rep {
    height: 90vh;
    background-image: url(../img/fondoindex.jpg);
    background-size: cover;
    background-attachment: fixed;
}*/

/*.info_rep {
    display: flex;
    justify-content: center;
}

.rep_title_pag1 {
    width: 600px;
    padding-right: 60px;
}

.rep_title_pag1 h2 {
    font-size: 40px;
    padding-top: 60px;
}

.rep_title_pag1 p {
    font-size: 22px;
    padding-top: 30px;
}

.rep_express {
    width: 500px;
    padding-right: 40px;
}




/* Footer
footer {
    display: flex;
    background: #000000e6;
    height: 156px;
    justify-content: space-between;
    align-items: center;
}

.logotipo_footer {
    display: flex;
    margin-left: 10px;
}

.logo_footer {
    width: 110px;
    cursor: pointer;
}

.nombre_logo_footer {
    margin-top: 15px;
    margin-left: 5px;
}

.nombre_logo_footer h2 {
    color: #FFFFFF;
    font-size: 35px;
}

.nombre_logo_footer h3 {
    color: #FFFFFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.texto_footer {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}

.redes_footer {
    display: flex;
    margin-right: 50px;
    gap: 15px;
}

.fb_logo {
    width: 53px;
}

.ig_logo {
    width: 53px;
}

.tik_logo {
    width: 53px;
}

.tw_logo {
    width: 53px;
}

/* Fin Footer */