@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



/* Header */

.navbar {
    background-color: #f5f6fa !important;
    position: fixed;
    width: 100vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    z-index: 1;
}

.logo {
    width: 55px;
}


/* Inicio Main Index */

main {
    background-image: url(../img/fondoindex.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.foto_portada {
    width: 15rem;
    padding-top: 6rem;
    transform: scale(1.13);
}

@media (min-width: 1000px) {
    .foto_portada {
        width: 20rem;
        padding-top: 10rem;
        margin-right: 3rem;
    }

    .portada_texto {
        padding-left: 65px;
    }
}

@media (max-width: 349px) {
    .portada_titulo {
        font-size: 29px;
    }
}

.btn-primary {
    background-color: #286378;
    border-radius: 10px;
    font-size: 25px;
    border-style: none;
}

.float_ul {
    background-color: #77acc0;
    width: 80vw;
    height: 70px;
    border-radius: 30px;
    color: #FFFFFF;
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    list-style: none;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    margin-top: 4rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


.float .separador {
    font-weight: 100;
    font-size: 35px;
}

@media (max-width: 1500px) {
    .float_ul {
        display: none;
    }
}

/* Pagina 2 Index */


.time_icon {
    width: 10rem;

}

.warranty_icon {
    width: 10rem;
}

.lab_icon {
    width: 10rem;
}

.chat_icon {
    width: 10rem;
}

@media (max-width: 1000px) {
    .time {
        text-align: center;
    }

    .warranty {
        text-align: center;
    }

    .lab {
        text-align: center;
    }

    .chat {
        text-align: center;
    }
}


.index_icon1:hover {
    transform: scale(1.1)
}

.index_icon1 {
    border-radius: 30px;
    transition: all 1s;
}

.index_icon2:hover {
    transform: scale(1.1)
}

.index_icon2 {
    border-radius: 30px;
    transition: all 1s;
}

.index_icon3:hover {
    transform: scale(1.1)
}

.index_icon3 {
    border-radius: 30px;
    transition: all 1s;
}

.index_icon4:hover {
    transform: scale(1.1)
}

.index_icon4 {
    border-radius: 30px;
    transition: all 1s;
}

/* Inicio Main Reparar */

.pag2_reparar {
    padding-top: 6rem;
}

.div1_reparar {
    width: 600px;
}

.foto_portada_reparar {

    padding-bottom: 2rem;
}

.tarjetas_reparar {
    padding-bottom: 2rem;
}

.repdestacadas_title {
    background-color: #77acc0;
    color: white;
    height: 4rem;
    width: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.card:hover {
    transform: scale(1.1)
}

.card {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    transition: all 1s;
}

.btn-info {
    background-color: #286378;
    border-color: #286378;
    color: #FFFFFF;
}

.trabajos_slide {
    background-color: #77acc0;
    color: white;
    width: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.div_carrousel1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carrousel1 {
    z-index: 0;
    margin-bottom: 30px;

}

.carousel-item img {
    border-radius: 30px;

}


@media (min-width:1000px) {

    .carrousel1 {
        width: 30rem;
    }
}



/*Inicio Main Accesorios */

.accesorios_page {

    padding-top: 6rem;
}

.title_acc {
    background-color: #77acc0;
    color: white;
    padding-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

























/* Inicio Main Contacto */

.portada_contacto {
    padding-top: 6rem;
    padding-bottom: 3rem;
}

.formulario {
    background-color: #77acc0;
    color: #FFFFFF;
    width: 350px;

    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}




/* Footer */

footer {
    display: flex;
    background: #000000e6;
    height: 156px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logotipo_footer {
    display: flex;
    margin-left: 10px;
}

.logo_footer {
    width: 110px;
    cursor: pointer;
}

.nombre_logo_footer {
    margin-top: 15px;
    margin-left: 5px;
}

.nombre_logo_footer h2 {
    color: #FFFFFF;
    font-size: 35px;
}

.nombre_logo_footer h3 {
    color: #FFFFFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.texto_footer {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}

.redes_footer {
    display: flex;
    margin-right: 50px;
    gap: 15px;
}

.fb_logo {
    width: 53px;
}

.ig_logo {
    width: 53px;
}

.tik_logo {
    width: 53px;
}

.tw_logo {
    width: 53px;
}

@media (max-width: 1100px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: #000000e6;
        height: 400px;
        width: 100%;
    }

    .logotipo_footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
    }

    .nombre_logo_footer {
        margin-top: 0px;
    }

    .nombre_logo_footer h2 {
        margin-bottom: 0px;
    }

    .nombre_logo_footer h3 {
        display: none;
    }

    .redes_footer {
        padding-bottom: 20px;
        margin-right: 0px;
    }

    .texto_footer {
        color: #FFFFFF;
        font-weight: 400;
        font-size: 12px;
        line-height: 23px;
        text-align: center;
    }

}